[Desktop Entry]
Type=Application
Name=Phone RDP
Exec=bash -c "scrcpy --no-audio --orientation=0 --turn-screen-off --fullscreen"
Icon=phonerdp
Terminal=false
Categories=Utilities;